*.iml
.gradle
target/local.properties
target/.idea
target/.idea/caches
target/.idea/libraries
target/.idea/modules.xml
target/.idea/workspace.xml
target/.idea/navEditor.xml
target/.idea/assetWizardSettings.xml
.DS_Store
target/build
target/captures
.externalNativeBuild
.cxx
